<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="D:/Intellig_Projects/Selenium Pure/Selenium-TestNG">
        <parameter name="browser" value="chrome"/>
        <classes>
            <class name="com.todos.tests.AddTodoTest"/>
            <class name="com.todos.tests.RemoveTodoTest"/>
        </classes>
    </test>
</suite>